<html>
<head>
	<title>Ticker Tracker</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="styles.css">	
</head>
<body class="grey darken-4">
	<div id="react-anchor"></div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>	
	<script src="client.js"></script>
</body>
</html>